# Use absolute path for model location and output file
# Only MP4 recording is supported by the demo

# INPUT/OUPUT LAYER Not needed by Coral backend. 
# But required in other such as Tensorflow

[DEMO_SETTINGS]
CAMERA_DEVICE = /dev/video0
CAMERA_DEVICE_WIDTH = 1280
CAMERA_DEVICE_HEIGHT = 720
ARCH=mobilenetv2ssd
MODEL_LOCATION = /home/coral/models/ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite
INPUT_LAYER = ""
OUTPUT_LAYER = ""
LABELS = coco_labels.txt
OUTPUT_FILE = /home/coral/recordings/recording.mp4
CLASSES_ID = [74]
CLASSES_MIN_PROBABILITY = [0.80]
MIN_RECORDING_TIME_IN_SECONDS = 10
