# Use absolute path for model location and output file
# Only MP4 recording is supported by the demo

[DEMO_SETTINGS]
CAMERA_DEVICE = /dev/video0
ARCH=mobilenetv2ssd
MODEL_LOCATION = /home/coral/models/ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite
LABELS_LOCATION = coco_labels.txt
REC_DIRECTORY = /home/coral/recordings/
CLASSES_ID = [74]
CLASSES_MIN_PROBABILITY = [0.80]
MIN_RECORDING_TIME_IN_SECONDS = 5
VIDEOSINK=xvimagesink